body {
    min-width: 320px;
    max-width: 750px;
    position: relative;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    background-color: white;
}
/* 背景 */
.beijing{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.beijing img{
    height: 100%;
    width: 100%;
    display: block;
}
/* logo */
.logo{
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}
.logo img{
    width: 59%
}
/* 提交数据部分，表单 */
.sign{
    position: absolute;
    top: 40%;
    width: 100%;
}
.sign2{
    position: relative;
    top: auto;
    width: 100%;
}
.sign .weui-cells_form{
    width: 75%;
    margin: 0 auto;
}
.sign .weui-cell{
    padding: 10px 0;
}
.sign .weui-cell__hd .weui-label{
    width: 75px;
}
.sign .weui-cell__hd{
    font-weight: bold;
}
.sign .weui-cell{
    padding: 20px 0;
}
.sign .weui-cell .weui-btn{
    width: 100%;
}
.sign .weui-cell_vcode{
    padding: 20px 0;
}
.sign .weui-vcode-btn {
    font-size: 14px;
    border-radius: 14px;
    background-color: #f54646;
    color: white;
    height: 28px;
    line-height: 28px;
}
.sign .weui-btn_warn{
    /* margin-top: 1%; */
    border-radius: 5px;
    font-size: 15px;
    background-color: #f54646
}
.sign .weui-cells:before{
    border-top: none
}
.sign .weui-cells:after{
    border-bottom: none
}
.sign .weui-cell:before{
    border-top: 1px solid #b2b2b2;
    left: 0;
}
.sign #sub,.sign #sub2{
    padding-top: 40px;
    padding-bottom: 0;
}
.sign #sub a,.sign #sub2 a{
    line-height: 3;
}
.sign .weui-label img{
    height: 25px;
}
.sign .weui-label #p-img{
    margin-left: 4px;
}
.s-title{
    height: 45px;
    line-height: 45px;
    background-color: #e04c4c;
    font-size: 20px;
    color:#fff;
    text-align: center;
}
/* 加载数据动画样式 */
@keyframes lds-spin {
    0% {
      opacity: 1;
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  @-webkit-keyframes lds-spin {
    0% {
      opacity: 1;
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  .lds-spin {
    position: relative;
  }
  .lds-spin div > div {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #43cdf0;
    -webkit-animation: lds-spin 1.1s linear infinite;
    animation: lds-spin 1.1s linear infinite;
  }
  .lds-spin div:nth-child(1) > div {
    left: 140px;
    top: 80px;
    -webkit-animation-delay: -0.9625s;
    animation-delay: -0.9625s;
  }
  .lds-spin > div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 160px 100px;
    transform-origin: 160px 100px;
  }
  .lds-spin div:nth-child(2) > div {
    left: 122.42640685999999px;
    top: 122.42640685999999px;
    -webkit-animation-delay: -0.825s;
    animation-delay: -0.825s;
  }
  .lds-spin > div:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 142.42640686px 142.42640686px;
    transform-origin: 142.42640686px 142.42640686px;
  }
  .lds-spin div:nth-child(3) > div {
    left: 80px;
    top: 140px;
    -webkit-animation-delay: -0.6875s;
    animation-delay: -0.6875s;
  }
  .lds-spin > div:nth-child(3) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100px 160px;
    transform-origin: 100px 160px;
  }
  .lds-spin div:nth-child(4) > div {
    left: 37.57359314px;
    top: 122.42640685999999px;
    -webkit-animation-delay: -0.55s;
    animation-delay: -0.55s;
  }
  .lds-spin > div:nth-child(4) {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transform-origin: 57.57359314px 142.42640686px;
    transform-origin: 57.57359314px 142.42640686px;
  }
  .lds-spin div:nth-child(5) > div {
    left: 20px;
    top: 80px;
    -webkit-animation-delay: -0.4125s;
    animation-delay: -0.4125s;
  }
  .lds-spin > div:nth-child(5) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 40px 100px;
    transform-origin: 40px 100px;
  }
  .lds-spin div:nth-child(6) > div {
    left: 37.57359314px;
    top: 37.57359314px;
    -webkit-animation-delay: -0.275s;
    animation-delay: -0.275s;
  }
  .lds-spin > div:nth-child(6) {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transform-origin: 57.57359314px 57.57359314px;
    transform-origin: 57.57359314px 57.57359314px;
  }
  .lds-spin div:nth-child(7) > div {
    left: 80px;
    top: 20px;
    -webkit-animation-delay: -0.1375s;
    animation-delay: -0.1375s;
  }
  .lds-spin > div:nth-child(7) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 100px 40px;
    transform-origin: 100px 40px;
  }
  .lds-spin div:nth-child(8) > div {
    left: 122.42640685999999px;
    top: 37.57359314px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .lds-spin > div:nth-child(8) {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
    -webkit-transform-origin: 142.42640686px 57.57359314px;
    transform-origin: 142.42640686px 57.57359314px;
  }
  .lds-spin div:nth-child(9) > div {
    left: 140px;
    top: 80px;
    -webkit-animation-delay: 0.1375s;
    animation-delay: 0.1375s;
  }
  .lds-spin > div:nth-child(9) {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 160px 100px;
    transform-origin: 160px 100px;
  }
  .lds-spin {
    width: 65px !important;
    height: 65px !important;
    -webkit-transform: translate(-32.5px, -32.5px) scale(0.325) translate(32.5px, 32.5px);
    transform: translate(-32.5px, -32.5px) scale(0.325) translate(32.5px, 32.5px);
    margin: 0 auto;
    top: 40%;
  }
  .loading{
      position: fixed;
      z-index: 11;
      background-color: white;
      width: 100%;
      height: 100%;
  }